celery==5.5.2
coverage==7.6.0
django-environ==0.11.2
Django==5.0.7
flake8==7.1.0
gunicorn==23.0.0
psycopg2==2.9.9
python-dotenv==1.0.1
pytest==8.3.1
pytest-django==4.8.0
pytest-mock==3.14.0
torch==2.4.0
transformers==4.43.2
SQLAlchemy==2.0.31
opentelemetry-api==1.33.0
opentelemetry-sdk==1.33.0
opentelemetry-instrumentation-django==0.54b0
opentelemetry-instrumentation-celery==0.54b0
opentelemetry-instrumentation-logging==0.54b0
opentelemetry-exporter-otlp==1.33.0
